[submodule "vendor/testing_h"]
	path = vendor/testing_h
	url = https://github.com/djpiper28/testing.h.git
[submodule "vendor/SDL-wiiu"]
	path = vendor/SDL-wiiu
	url = https://github.com/yawut/SDL.git
[submodule "vendor/mongoose"]
	path = vendor/mongoose
	url = https://github.com/cesanta/mongoose
[submodule "vendor/protobuf"]
	path = vendor/protobuf
	url = https://github.com/protocolbuffers/protobuf
