[submodule "vendor/testing_h"]
	path = vendor/testing_h
	url = https://github.com/djpiper28/testing.h.git
[submodule "vendor/SDL-wiiu"]
	path = vendor/SDL-wiiu
	url = https://github.com/yawut/SDL.git
